.game__zone .game-cell, .btn {
  width: auto;
  height: auto;
  font-weight: bold;
  padding: 7px 15px;
  outline: none;
  cursor: pointer;
  color: #333438;
  background-color: #b5beee;
  border: none;
  border-radius: 10px;
}
.game__zone .game-cell:hover, .btn:hover {
  background-color: #a0ace9;
}
.game__zone .game-cell:active, .btn:active {
  opacity: 0.7;
}

.game__win::before, .game__zone .game-cell::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html,
body {
  color: #000000;
  background-color: #e5e1e1;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e5e1e1;
}

.screen-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 300%;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.screen-box .screen {
  width: 100%;
}
.screen-box .screen__title {
  font-size: calc(35px + 68 * ((100vw - 320px) / 1024));
  color: #5e4f69;
  margin-bottom: 6%;
}
@media screen and (min-width: 767px) {
  .screen-box .screen__title {
    font-size: calc(35px + 40 * (100vw / 1024));
  }
}
@media screen and (min-width: 1024px) {
  .screen-box .screen__title {
    font-size: 75px;
  }
}

.btn {
  font-size: calc(14px + 13.6 * ((100vw - 320px) / 1024));
}
@media screen and (min-width: 767px) {
  .btn {
    font-size: calc(14px + 8 * (100vw / 1024));
  }
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 22px;
  }
}
.btn__new-game {
  position: absolute;
  padding: 3px 15px;
  left: 50%;
  bottom: 10px;
  z-index: 3;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.levels-box {
  display: grid;
  grid-template-columns: repeat(3, minmax(75px, 150px));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 20px;
  width: 100%;
  max-width: 500px;
  padding: 0 15px;
  margin: 0 auto;
}
.levels-box__item {
  font-size: calc(12px + 15.3 * ((100vw - 320px) / 1024));
  width: 85%;
}
@media screen and (min-width: 767px) {
  .levels-box__item {
    font-size: calc(12px + 9 * (100vw / 1024));
  }
}
@media screen and (min-width: 1024px) {
  .levels-box__item {
    font-size: 21px;
  }
}

.game__field {
  position: relative;
}
.game__zone {
  width: 310px;
  height: 360px;
  position: relative;
  background-color: #c4a5d9;
  -webkit-box-shadow: 4px 3px 10px 3px #a87ac7;
          box-shadow: 4px 3px 10px 3px #a87ac7;
  border-radius: 10px;
  padding: 10px 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.game__zone.easy .game-cell {
  width: 100px;
  height: 100px;
  font-size: 45px;
}
.game__zone.easy .game-cell::before {
  top: 5.5px;
  left: 5.5px;
  width: 85px;
  height: 85px;
}
.game__zone.classic .game-cell {
  width: 75px;
  height: 75px;
  font-size: 34.6153846154px;
}
.game__zone.classic .game-cell::before {
  top: 3.625px;
  left: 3.625px;
  width: 63.75px;
  height: 63.75px;
}
.game__zone.medium .game-cell {
  width: 60px;
  height: 60px;
  font-size: 26.6272189349px;
}
.game__zone.medium .game-cell::before {
  top: 2.5px;
  left: 2.5px;
  width: 51px;
  height: 51px;
}
.game__zone.hard .game-cell {
  width: 50px;
  height: 50px;
  font-size: 20.4824761038px;
}
.game__zone.hard .game-cell::before {
  top: 1.75px;
  left: 1.75px;
  width: 42.5px;
  height: 42.5px;
}
.game__zone.expert .game-cell {
  width: 42px;
  height: 42px;
  font-size: 15.7557508491px;
}
.game__zone.expert .game-cell::before {
  top: 1.15px;
  left: 1.15px;
  width: 35.7px;
  height: 35.7px;
}
.game__zone.extreme .game-cell {
  width: 37px;
  height: 37px;
  font-size: 15.7557508491px;
}
.game__zone.extreme .game-cell::before {
  top: 0.775px;
  left: 0.775px;
  width: 31.45px;
  height: 31.45px;
}
.game__zone .game-cell {
  padding: 0;
  position: absolute;
  background-color: transparent;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-property: left, top;
  -o-transition-property: left, top;
  transition-property: left, top;
}
.game__zone .game-cell:hover {
  background-color: #b893d1;
}
.game__zone .game-cell.empty {
  display: none;
}
.game__zone .game-cell::before {
  border-radius: 10px;
  border: 2px solid #595959;
}
.game__zone.win {
  height: 320px;
}
.game__zone.win .game__win {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.game__zone.win .game__win::before {
  height: 320px;
}
.game__zone.win .btn__new-game {
  padding: 7px 15px;
  bottom: 90px;
}
.game__win {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  width: 100%;
  height: 100%;
  -webkit-transition: all 5s ease-in-out;
  -o-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
}
.game__win-title {
  font-size: 35px;
  z-index: 3;
  text-shadow: 3px 0 #ffffff;
  letter-spacing: 3px;
}
.game__win::before {
  width: 310px;
  height: 360px;
  right: 0;
  border-radius: 10px;
  z-index: 2;
  background-color: rgba(196, 165, 217, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 767px) and (min-height: 500px) {
  .game__zone {
    width: 460px;
    height: 510px;
  }
  .game__zone.easy .game-cell {
    width: 150px;
    height: 150px;
    font-size: 75px;
  }
  .game__zone.easy .game-cell::before {
    top: 9.25px;
    left: 9.25px;
    width: 127.5px;
    height: 127.5px;
  }
  .game__zone.classic .game-cell {
    width: 112px;
    height: 112px;
    font-size: 57.6923076923px;
  }
  .game__zone.classic .game-cell::before {
    top: 6.4px;
    left: 6.4px;
    width: 95.2px;
    height: 95.2px;
  }
  .game__zone.medium .game-cell {
    width: 90px;
    height: 90px;
    font-size: 44.3786982249px;
  }
  .game__zone.medium .game-cell::before {
    top: 4.75px;
    left: 4.75px;
    width: 76.5px;
    height: 76.5px;
  }
  .game__zone.hard .game-cell {
    width: 75px;
    height: 75px;
    font-size: 34.137460173px;
  }
  .game__zone.hard .game-cell::before {
    top: 3.625px;
    left: 3.625px;
    width: 63.75px;
    height: 63.75px;
  }
  .game__zone.expert .game-cell {
    width: 64px;
    height: 64px;
    font-size: 26.2595847484px;
  }
  .game__zone.expert .game-cell::before {
    top: 2.8px;
    left: 2.8px;
    width: 54.4px;
    height: 54.4px;
  }
  .game__zone.extreme .game-cell {
    width: 56px;
    height: 56px;
    font-size: 26.2595847484px;
  }
  .game__zone.extreme .game-cell::before {
    top: 2.2px;
    left: 2.2px;
    width: 47.6px;
    height: 47.6px;
  }
  .game__zone.win {
    height: 480px;
  }
  .game__zone.win .game__win::before {
    height: 480px;
  }
  .game__win::before {
    width: 460px;
    height: 510px;
  }
}
@media screen and (max-height: 380px) and (max-width: 720px) {
  .btn__new-game {
    left: auto;
    right: 5px;
    bottom: 50%;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
  }
  .game__zone {
    width: 425px;
    height: 320px;
  }
  .game__zone.win {
    width: 320px;
  }
  .game__zone.win .game__win::before {
    width: 320px;
  }
  .game__zone.win .btn__new-game {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .game__zone .btn__new-game {
    font-size: 16px;
  }
}